.wrapper{
    margin-left: 34px;
    margin-right: 34px;
    display: flex;
    justify-content: space-between;

    a{
        text-decoration: none;
        color:#fff;
    }
}

.column_items{
    display: block;

    .title{
        color:#fff;
    }
    span{
        font-size:40px;
        font-weight: 800;
        color:#fbbb43;
    }
}

.item_conteiner{
    display: flex;
    border-top: 1px solid rgba(255,255,255,.5);
    padding: 40px 0;
    
}

.image{
    width: 100%;
    max-width: 126px;
    margin-right: 40px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,.5);
    overflow: hidden;
}

.info{
    display: block;


    &_title{
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        cursor: pointer;
    }

    .price{
        color: #fbbb43;
        display: block;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.subtitle{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255,255,255,.5);
    div{
        margin-top: 20px;
        margin-right: 50px;
    }
    span{
        color:#fbbb43;
        font-size: 13px;
    }
}

.total_conteiner{
    margin-top: 10px;
    background-color: #000;
    max-height: 200px;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.5);
}
.total_price{
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 32px;
    span{
        color:#fbbb43
    }
}

.button{
    display: inline;
    text-transform: uppercase;
    padding:11px 12px 8px 12px;
    background: #fbbb43;
    border-radius: 11px;
    color: #000;
    font-size: 18px;
    letter-spacing: .04em;
    cursor: pointer;
}
.button:hover{
    background-color:#fff;
    
}