.wrapper{
    margin-top: 18px;
    padding-top: 40px;
    border-top:2px solid orange;
    padding-bottom: 40px;
}
.info{
    display: flex;
    justify-content:space-around;

    &_icon{
        display: flex;
        max-height: 35px;
        max-width: 120px;

        &_title{
            font-size: 20px;
            font-weight: 700;
            margin-left: 8px;
        }
    }

    &_menu{
        display: flex;
        justify-content: space-around;

        &_block{
            margin-left: 50px;
            margin-bottom: 24px;
            padding-right: 50px;

            div{
                margin-bottom: 24px;
                padding-right: 20px;
            }
            div:hover{
                color:orange;
                transition:0.7s;
            }
        }
    }

    &_social{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        div{
            margin-left: 10px;
        }
        &_teleg{
            padding-top: 3px;
        }
    }
}

.images{
display: flex;
justify-content: center;
    div{
        margin-right: 46px;
    }
    &_kassa{
        margin-top: 8px;
    }
}

.notification_conteiner{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_image{
        margin-right:6px;
        border: #fbbb43 1px solid;
        border-radius: 50%;
    }
    
    &_text{
        color:#fbbb43;
        font-size: 16px;
    }
}

//mobile

@media (max-width:768px) {
    .info_icon{
        display: none;
    }
    .info_menu{
        display: none;
    }
    .images{
        div{
            margin-right: 10px;
        }
    }
}