.conteiner{
    max-width: 100%;
    max-height: 720px;
    
    &_slider{
        position:relative;
        max-height: 720px;
        overflow: hidden;
        border-radius: 50px;
    }
}

.slider{
    transition: 1.5s ease-in-out;
    
    &_image{
        position: relative;
        max-height: 720px;
    }

    &_title{
        font-size: 30px;
        font-weight: 800;
        position:relative;
        color: #cdcdc8;
        bottom:440px;
        margin-left: 15%;

        h1{
            max-width: 500px;
            text-transform: uppercase;
        }

        h3{
            font-size: 20px;
            
        }
    }
}

.conteiner_buttons{
    position: relative;
    bottom: 480px;
    margin-left: 5%;
    
    .button{
        border-radius: 50%;
        transition: 1s;
    }
}

.progressbar{
    height: 250px;
    width: 3px;
    background: #000;
    overflow: hidden;
    margin-left: 20px;

    &_value{
        height: 16.5%;
        width: 5px;
        background: #fff;
        transition: all 3s;
    }
    margin-bottom: 5px;
}

//mobile
@media (max-width:768px) {
    .conteiner_slider{
        border-radius: 0;
    }
    .slider{
        img{
            width: 100%;
            object-fit: cover;
        }
    }

    .conteiner_buttons{
        margin-left:40%;
        bottom: 720px;

        .progressbar{
            display: none;
        }
        &_prev,&_next{
            background-color: #fff;
            border-radius: 50%;
            overflow: hidden;
        }
        &_next{
            margin-top: 600px;
        }
    }
}